set default=0
set timeout=5

menuentry "LANKeeper Install __LANKEEPER_VERSION__" {
    set background_color=black
    linux __KERNEL_PATH__ priority=high locale?=en_US.UTF-8 keymap?=tr time/zone=Europe/Istanbul preseed/file=/cdrom/preseed.cfg ---
    initrd __INITRD_PATH__
}
